- flash.each do |name, msg|
  - if msg.is_a?(String)
    - klass = case name
      - when :success then "alert-success"
      - when :notice then "alert-info"
      - else "alert-info"
    .alert{class: klass}
      = msg
