%li{class: params[:controller] == "home" ? "active" : ""}
  %a{href: root_path}= t("navigation.home")
- if can? :read, User
  %li{class: params[:controller] == "users" ? "active" : ""}
    %a{href: users_path}= t("navigation.users")
